.offer-cards__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
}

.offer-cards__wrapper {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 3rem;
}

@media (max-width: 992px) {
  .offer-cards__wrapper {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (max-width: 600px) {
  .offer-cards__wrapper {
    grid-template-columns: 1fr;
  }
}

.offer-card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.offer-card__content {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.offer-card__title {
    font-size: 1.4rem;
}

.offer-card__img {
  aspect-ratio: 16 / 9;
  border-radius: 6px;
  overflow: hidden;
  background-color: #f3f4f6;
}
