.btn {
    background-color: rgb(71, 71, 71);
    padding-block: 1rem;
    padding-inline: 3rem;
    border-radius: 10px;
    color: white;
    border: 2px solid rgb(71, 71, 71);
    font-weight: 500;
    transition: color 0.2s ease-in-out, 
                background-color 0.1s ease-in-out;
}

@media (any-hover: hover) and (pointer: fine) {
    .btn:hover {
        background-color: transparent;
        color: rgb(71, 71, 71);
    }
}