.header {
    border-bottom: 1.5px solid black;
    padding-block: 0.4rem;
}

.header__logo {
    width: 40px;
    height: 40px;
}

.header__logo img {
    width: 100%;
    height: 100%;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: center;
}

